<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirstName" value="Ivan" />
    <add key="SurName" value="Ivanovich" />
    <add key="PhoneNumber" value="622834" />
    <add key="DateBirth" value="12/12/1990 12:00:00 AM" />
    <add key="FloatNumber" value="2.5" />
  </appSettings>
</configuration>